@font-face {
    font-family: 'MinecraftFont';
    src: url(/minecraft_font.woff) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000; /* Solid black background */
    color: #ffffff;
    font-family: 'MinecraftFont', sans-serif; /* Use your custom font */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    cursor: default; /* Show the default cursor */
    overflow: hidden; /* Prevent scrolling */
    position: relative; /* Set position relative for absolute positioning of glow */
}

#snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow interaction with other elements */
    z-index: -1; /* Position behind other elements */
}

.snowflake {
    position: absolute;
    top: -10px;
    width: 8px; /* Smaller size for subtlety */
    height: 8px;
    background-color: rgba(100, 100, 100, 0.7); /* Darker grey color */
    border-radius: 50%;
    opacity: 0.4; /* More subtle opacity */
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh); /* Move from top to bottom */
    }
}

h1 {
    font-size: 3em;
    text-align: center;
    font-family: 'MinecraftFont', sans-serif; /* Use the custom font */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Add some shadow to the heading */
}

#subtitle {
    font-size: 1.5em;
    margin: 10px 0;
    font-family: 'MinecraftFont', sans-serif; /* Use the custom font */
}

.red-text {
    color: red; /* Style for the red text */
}

button {
    cursor: pointer;
    background: linear-gradient(145deg, #1a1a1a, #0e0e0e);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5), 
                -6px -6px 12px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(145deg, #0e0e0e, #1a1a1a);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), 
                -4px -4px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}

button:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 
                -2px -2px 4px rgba(255, 255, 255, 0.2);
    transform: translateY(2px);
}

/* Cursor glow effect with fade out */
#cursorGlow {
    position: absolute;
    width: 120px; /* Size increased to 1.5x (80px -> 120px) */
    height: 120px; /* Size increased to 1.5x (80px -> 120px) */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 10%, rgba(255, 255, 255, 0) 70%);
    pointer-events: none; /* Prevent interaction */
    transform: translate(-50%, -50%); /* Center the glow */
    transition: background 0.3s ease;
}
